In [2]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark import SparkContext
# sc = SparkContext()
# spark = SparkSession(sc)

In [3]:
sc = SparkContext()

In [16]:
airports = sc.textFile('data/airports.csv') #.map(lambda x: x.split(','))

In [19]:
type(airports)

pyspark.rdd.RDD

In [6]:
spark = SparkSession(sc)

In [27]:
air2_df = spark.read.load('data/airports.csv', format='csv', header='true', inferSchema='true')

In [30]:
air3_df = spark.read.csv('data/airports.csv', header='true', inferSchema='true')

In [31]:
air3_df.show(3)

+------+-----+-------------+--------------------+--------------+------------------+------------+---------+-----------+----------+------------+-----------------+--------+---------+----------+---------+--------------+--------+
|    id|ident|         type|                name|  latitude_deg|     longitude_deg|elevation_ft|continent|iso_country|iso_region|municipality|scheduled_service|gps_code|iata_code|local_code|home_link|wikipedia_link|keywords|
+------+-----+-------------+--------------------+--------------+------------------+------------+---------+-----------+----------+------------+-----------------+--------+---------+----------+---------+--------------+--------+
|  6523|  00A|     heliport|   Total Rf Heliport|40.07080078125|-74.93360137939453|          11|       NA|         US|     US-PA|    Bensalem|               no|     00A|     null|       00A|     null|          null|    null|
|323361| 00AA|small_airport|Aero B Ranch Airport|     38.704022|       -101.473911|        3435|       NA|         US|     US-KS|       Leoti|               no|    00AA|     null|      00AA|     null|          null|    null|
|  6524| 00AK|small_airport|        Lowell Field|   59.94919968|    -151.695999146|         450|       NA|         US|     US-AK|Anchor Point|               no|    00AK|     null|      00AK|     null|          null|    null|
+------+-----+-------------+--------------------+--------------+------------------+------------+---------+-----------+----------+------------+-----------------+--------+---------+----------+---------+--------------+--------+
only showing top 3 rows

In [26]:
#air_df = airports.map(lambda x: x.split(',')).toDF()
air_df = airports.toDF()

TypeError: Can not infer schema for type: <class 'str'>

In [25]:
air_df.show(3)

+------+-------+---------------+--------------------+--------------+------------------+--------------+-----------+-------------+------------+--------------+-------------------+----------+-----------+------------+-----------+----------------+----------+
|    _1|     _2|             _3|                  _4|            _5|                _6|            _7|         _8|           _9|         _10|           _11|                _12|       _13|        _14|         _15|        _16|             _17|       _18|
+------+-------+---------------+--------------------+--------------+------------------+--------------+-----------+-------------+------------+--------------+-------------------+----------+-----------+------------+-----------+----------------+----------+
|  "id"|"ident"|         "type"|              "name"|"latitude_deg"|   "longitude_deg"|"elevation_ft"|"continent"|"iso_country"|"iso_region"|"municipality"|"scheduled_service"|"gps_code"|"iata_code"|"local_code"|"home_link"|"wikipedia_link"|"keywords"|
|  6523|  "00A"|     "heliport"| "Total Rf Heliport"|40.07080078125|-74.93360137939453|            11|       "NA"|         "US"|     "US-PA"|    "Bensalem"|               "no"|     "00A"|           |       "00A"|           |                |          |
|323361| "00AA"|"small_airport"|"Aero B Ranch Air...|     38.704022|       -101.473911|          3435|       "NA"|         "US"|     "US-KS"|       "Leoti"|               "no"|    "00AA"|           |      "00AA"|           |                |          |
+------+-------+---------------+--------------------+--------------+------------------+--------------+-----------+-------------+------------+--------------+-------------------+----------+-----------+------------+-----------+----------------+----------+
only showing top 3 rows

In [28]:
air2_df.show(3)

+------+-----+-------------+--------------------+--------------+------------------+------------+---------+-----------+----------+------------+-----------------+--------+---------+----------+---------+--------------+--------+
|    id|ident|         type|                name|  latitude_deg|     longitude_deg|elevation_ft|continent|iso_country|iso_region|municipality|scheduled_service|gps_code|iata_code|local_code|home_link|wikipedia_link|keywords|
+------+-----+-------------+--------------------+--------------+------------------+------------+---------+-----------+----------+------------+-----------------+--------+---------+----------+---------+--------------+--------+
|  6523|  00A|     heliport|   Total Rf Heliport|40.07080078125|-74.93360137939453|          11|       NA|         US|     US-PA|    Bensalem|               no|     00A|     null|       00A|     null|          null|    null|
|323361| 00AA|small_airport|Aero B Ranch Airport|     38.704022|       -101.473911|        3435|       NA|         US|     US-KS|       Leoti|               no|    00AA|     null|      00AA|     null|          null|    null|
|  6524| 00AK|small_airport|        Lowell Field|   59.94919968|    -151.695999146|         450|       NA|         US|     US-AK|Anchor Point|               no|    00AK|     null|      00AK|     null|          null|    null|
+------+-----+-------------+--------------------+--------------+------------------+------------+---------+-----------+----------+------------+-----------------+--------+---------+----------+---------+--------------+--------+
only showing top 3 rows

In [29]:
type(air2_df)

pyspark.sql.dataframe.DataFrame

In [35]:
air2_df.columns

['id',
 'ident',
 'type',
 'name',
 'latitude_deg',
 'longitude_deg',
 'elevation_ft',
 'continent',
 'iso_country',
 'iso_region',
 'municipality',
 'scheduled_service',
 'gps_code',
 'iata_code',
 'local_code',
 'home_link',
 'wikipedia_link',
 'keywords']

In [43]:
air2_df.select('ident').distinct().count()

54800

In [45]:
air2_df.select('id','ident').filter(air2_df.ident == '00A').show(5)

+----+-----+
|  id|ident|
+----+-----+
|6523|  00A|
+----+-----+

In [46]:
type(air2_df['ident'])

pyspark.sql.column.Column

In [49]:
air2_df['ident'].

Column<b"ident['name']">

In [50]:
type(air2_df.select('id','ident'))

pyspark.sql.dataframe.DataFrame

In [51]:
air2_df.select('id','ident')[:5]

TypeError: unexpected item type: <class 'slice'>

In [60]:
type((1)), type(1), type((1,)), type(())

(int, int, tuple, tuple)

In [59]:
a, b = (1,(2,3)); a, b

(1, (2, 3))

# Sets

In [64]:
{1,2,3} | {3,4,5}, {1,2,3} & {3,4,5}, {1,2,3} ^ {3,4,5}

({1, 2, 3, 4, 5}, {3}, {1, 2, 4, 5})

In [70]:
set1 = {1,2,3}; set1.discard(1); set1

{2, 3}

# Dicts

In [86]:
dict1 = {'year': 2018, 'month': 'September'}

In [87]:
dict1.keys(), dict1.values()

(dict_keys(['month', 'year']), dict_values(['September', 2018]))

In [88]:
# not existing key
dict1['color']

KeyError: 'color'

In [89]:
# not existing key or else 
dict1.get('color', 'red')

'red'

In [90]:
dict1

{'month': 'September', 'year': 2018}

In [91]:
# Remove from dict
dict1.pop('year')
dict1

{'month': 'September'}

In [92]:
# add to dict
dict1['day'] = 14;
dict1

{'day': 14, 'month': 'September'}

In [93]:
dict1.items()

dict_items([('day', 14), ('month', 'September')])

In [99]:
dict1.items() | {1, 2},"|", {1: 2}.items()

({('day', 14), ('month', 'September'), 1, 2}, '|', dict_items([(1, 2)]))

In [96]:
dict1.items() | {1: 2}.items()

{('day', 14), ('month', 'September'), (1, 2)}

In [102]:
# Impossible to add empty list as value to dict because emty list [] is unhashable
dict1.items() | {1: []}.items()

TypeError: unhashable type: 'list'

In [103]:
'day' in dict1

True

In [104]:
d = {}
d['a'] = 1
d['b'] = 2
d['c'] = 3
d.keys(), list(d.keys())

(dict_keys(['b', 'c', 'a']), ['b', 'c', 'a'])

In [108]:
import sys
sys.version

'3.5.3 (default, Sep 27 2018, 17:25:39) \n[GCC 6.3.0 20170516]'

In [110]:
reversed([1,2,3]).map

In [ ]:
sorted(
    people,
    key=lambda p: (p.first_name, -len(p.second_name))
)